<!--MENU-->
<div class="ui inverted menu">
    <a class="active item">Home</a>
    <a class="item">Scrape</a>
    <a class="item">Save</a>
</div>

<!--HEADER-->
<h2 class="ui header">
    <i class="music icon"></i>
    <div class="content">
        All Ears
        <div class="sub header">Latest music news in one place</div>
    </div>
</h2>

