<!--MENU-->
<div class="ui inverted menu">
    <a class="active item">Home</a>
    <a class="item">Scrape New Articles</a>
    <a class="item">Saved Articles</a>
</div>

<div class="ui container">
<!--HEADER-->
<h2 class="ui aligned center header">
    <i class="music icon"></i>
    <div class="aligned center content">
        All Ears
        <div class="sub header">Latest music news in one place</div>
    </div>
</h2>

<!--ARTICLES-->
{{#each article}}


<table class="ui selectable table">
    <thead>
        <tr>
            <th>{{this.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{this.summary}}</td>
        </tr>
        <tr>
            <td><a href="{{this.link}}"><i class="newspaper icon"></i>View Article</a></td>
        </tr>
        <tr>
            <td><i class="write icon"></i>Add a Comment</td>
        </tr>
        <tr>
            <td><i class="comments outline icon"></i>View Comments</td>
        </tr>
    </tbody>
</table>

<br>

{{/each}}


{{!-- <table class="ui selectable table">
    <thead>
        <tr>
            <th>Stuff</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <a href="#">
                <td>More Stuff</td>
            </a>
    </tbody>
</table> --}}

</div>


