<!--MENU-->
<div class="ui inverted menu">
    <a class="active item">Home</a>
    <a class="item">Scrape New Articles</a>
    <a class="item">Saved Articles</a>
</div>

<div class="ui container">
<!--HEADER-->
<h2 class="ui aligned center icon header">
    <i class="music icon"></i>
    <div class="content">
        <p>All Ears</p>
        <div class="sub header">Latest music news in one place</div>
    </div>
</h2>

<!--ARTICLES-->
{{#each article}}


<table class="ui selectable table">
    <thead>
        <tr>
            <th>{{this.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{this.summary}}</td>
        </tr>
        <tr>
            <td><a href="{{this.link}}"><i class="newspaper icon"></i>View Article</a></td>
        </tr>
        <tr>
            <td>
                <button class="ui button" id="addComment">
                    <i class="write icon"></i>Add a Comment
                </button>
                <button class="ui button" id="viewComments">
                    <i class="comments outline icon"></i>View Comments
                </button>
            </td>
    </tbody>
</table>
<div class="ui modal">
    <div class="ui form">
        <div class="field">
            <label>Short Text</label>
            <textarea rows="4"></textarea>
        </div>
    </div>
    <button class="submit">Save Comment</button>
</div>

<br>

{{/each}}

</div>


